<div class="event">
  <h3><%= event.title %></h3>
  <p>Description: <%= event.description %></p>
  <p>Date: <%= event.start_date %></p>
  <p>Lieu: <%= event.location %></p>
  <!-- Ajoutez d'autres détails de l'événement selon vos besoins -->
</div>